* {
  margin: auto;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* all font */

.inter {
  font-family: "Inter", sans-serif;

  font-weight: 400;
}

.raleway {
  font-family: "Raleway", sans-serif;

  font-weight: 700;
}

/* utilty class */
.btn-primary {
  color: white;
  background-color: #4e47ff;
  padding: 20px 30px;
  border-radius: 15px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0;
}
.btn-primary:hover {
  background-color: #2323c7;
  transform: scale(1.02);
}

/* hero section start */
#heroSection {
  max-width: 1440px;
  width: 100%;
  height: 698px;
  background-image: url("/Assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#herodiv1 {
  display: flex;
  margin-top: 0;
  justify-content: space-between;
  width: 1140px;
  height: 151px;

  align-items: center;
}

#herop1 {
  color: #4e47ff;

  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 900;
}

#herodiv2 {
  width: 905px;
  height: 237px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#herop2 {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}
/* action section start */

#actionsection {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  height: 328px;

  margin-top: 100px;
  justify-content: space-between;
}
#actiondiv1 {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#actiondiv2 {
  margin: 0;
}
/* productive section start */
#produtive {
  width: 1140px;
  height: 306px;
  background-color: #4d47ff21;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
  border-radius: 20px;
}
#produtivediv1 {
  color: black;
  font-size: 40px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
}
.pdc1 {
  color: #2323c7;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  margin-top: -30px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
}
